@use 'variables' as variables;

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  color: variables.$color-default;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, Lucida Grande, sans-serif;
}

body {
  color: var(--mat-sidenav-container-text-color);
  background-color: var(--mat-sidenav-container-background-color);
}
